<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <title>חשבון עם דינו</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>ברוך הבא למשחק של דינו!</h1>

  <div id="nameInput">
      <h2>מלא פרטי התחברות:</h2>
      <form onsubmit="startGame(); return false;">
        <div style="margin-bottom: 10px;">
          <label for="playerName">שם:</label>
          <input type="text" id="playerName" required autofocus>
        </div>

        <div style="margin-bottom: 10px;">
          <label for="playerAge">גיל:</label>
          <input type="number" id="playerAge" min="1" value="5" required>
        </div>

      <button type="submit">התחל</button>
    </form>
  </div>

  <div id="game" style="display:none;">
    <h2 id="greeting"></h2>
    <h2 id="question"></h2>
    <div id="stage">רמה: 1</div>

    <form onsubmit="submitAnswer(); return false;">
      <input type="number" id="answer" placeholder="התשובה שלך" required >
      <button type="submit">שלח</button>
    </form>
    <div id="result"></div>
    <div id="score">ניקוד: 0</div>
    <h4>השאלות שלא ידע לענות עליהן:</h4>
    <div id="wrong-questions" dir="ltr"></div>
    <img src="/static/math_dino2.png" alt="דינוזאור ומספרים" class="dino-img">
  </div>

  <script src="/static/script.js"></script>
</body>
</html>
