<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <title>התחברות - חשבון עם דינו</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h2>התחברות</h2>
  <form onsubmit="loginUser(); return false;">
    <div>
    <label>שם:</label>
    <input type="text" id="loginName" required>
    </div>
    <div>
    <label>סיסמה:</label>
    <input type="password" id="loginPassword" required>
    </div>
    <button type="submit">התחבר</button>
  </form>
  <p>עדיין אין לך משתמש? <a href="/signup">הרשם כאן</a></p>
 <script type="module" src="/static/js/main.js"></script>
</body>
</html>
