<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <title>הרשמה - חשבון עם דינו</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h2>הרשמה</h2>
  <form onsubmit="signupUser(); return false;">
    <div>
      <label>שם:</label>
      <input type="text" id="signupName" required>
    </div>
    <div>
      <label>גיל:</label>
      <input type="number" id="signupAge" required>
    </div>
    <div>
      <label>סיסמה:</label>
      <input type="password" id="signupPassword" required>
    </div>
    <button type="submit">צור משתמש</button>
  </form>
  <p>כבר יש לך משתמש? <a href="/login">התחבר</a></p>
 <script type="module" src="/static/js/main.js"></script>
</body>
</html>
